<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>ENEgeek home</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      /*フッターをウィンドウの最下部に常に表示させるために */
      flex-flow: column;
      /*flexboxのみだと横並びに。これで縦並び */
      min-height: 100vh;
      /*body全体の表示領域を確保・指定 */
      position: relative;
      /*←相対位置*/
      padding-bottom: 120px;
      /*←footerの高さ*/
      box-sizing: border-box;
      /*←全て含めてmin-height:100vhに*/
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
        Meiryo, "ＭＳ Ｐゴシック", "Helvetica
Neue", Helvetica, sans-serif;

    }

    header {
      background-color: #99ff66;
      z-index: 10;
      /* 要素の重なり順序指定 */
    }

    header h1 {
      font-weight: bold;
    }

    header a {
      font-weight: bold;
      padding-left: 8px;
    }

    header p {
      text-align: right;
    }

    header li {
      list-style: none;
    }

    main {
      background: #ffffff;
      flex: 1;
      /*header footerの高さを除いた、残りの部分がmainで埋まる */
    }

    footer {
      width: 100%;
      background-color: #99ff66;
      position: absolute;
      /*←絶対位置*/
      bottom: 0;
      /*下に固定*/
    }

    footer h1 {
      font-size: 15px;
      font-weight: bold;
      margin: 8px 5px;
    }

    footer p {
      text-align: right;
      font-weight: lighter;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="navbar-nav mr-auto">
          <h1><a class="nav-link navbar-brand" href="#">ENEgeek</a></h1>
        </div>
        <div>
          <ul>
            <li>
              <a class="text-dark" href="#"> ログイン </a>
              <a class="text-dark" href="#"> 新規登録 </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h1 class="mt-5 text-center">ENEgeek</h1>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="mt-3 mr-3 text-center col-sm-3">
        <p>
          エナドリを<br>
          簡単に説明してみた
        </p>
        <a class="btn btn-primary" href="#" role="button">about</a>
      </div>
      <div class="mt-3 mr-3 text-center col-sm-3">
        <p>
          おすすめの<br>
          エナドリを診断
        </p>
        <a class="btn btn-primary" href="#" role="button">エナドリ診断</a>
      </div>
      <div class="mt-3 ml-3 text-center col-sm-3">
        <p>
          エナドリ<br>
          　
        </p>
        <a class="btn btn-primary" href="#" role="button">一覧</a>
      </div>
    </div>
  </main>
  <footer>
    <h1>ENEgeek</h1>
  </footer>
</body>

</html>